.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Control {
  margin-right: 30px;
}

.ControlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Result {
  margin-left: 30px;
  padding: 15px 30px;
  background-color: black;
  color: white;
}
